<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
     <context:annotation-config/>
     <context:component-scan base-package="base.package"/>
  <bean class="com.springcore.entity.Student" name="Student_1" >
	<property name="id">
		<value>420</value>
	</property>
	<property name="firstName">
		<value>Suryansh</value>
	</property>
	<property name="lastName">
		<value>Srivastava</value>
	</property>
  <!-- collaborators and configuration for this bean go here -->
  </bean>
</beans>
	